<div class="container-fluid" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form group color-fondo">
                    <label for="nombreE" class="color-txt">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]= "proyecto.nombreP" required>
                </div>
                <div class="form group">
                    <label for="descripcionP" class="color-txt">Descripción</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" required>
                </div>
                <div class="form group color-fondo">
                    <label for="imgP" class="color-txt">Imagen</label>
                    <input type="file" class="form-control" id="imgP" name="imgP" 
                        [(ngModel)]="proyecto.imgP" (change)="previewImage($event)" 
                            accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <div class="imagen">
                    <img class="foto-perfil" [src]="imgUrl" width="200 px">      
                </div>
                <br>
                <button class="btn btn-light m-top">Actualizar</button>
            </form>
        </div>