div{
    background-color: black;
    color: white;
}
hr{
    width: 1111px;
    margin-left: 50px;
    margin-bottom: 41px;
}
.row{
    padding: 70px;
}
h1, h3{
    display: inline;
}
.m-top{
    margin-top: 40px;
}
.color-txt{
    color: white;
}
.margen-izq{
    margin-left: -20px;
}