<div class="container-fluid" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form group color-fondo">
                    <label class="color-txt" for="nombre">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]= "skill.nombre" required>
                </div>
                <div class="form group">
                    <label class="color-txt" for="descripcionE">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <button class="btn btn-light m-top">Actualizar Skill</button>
            </form>
        </div>
    </div>
</div>